<html>
  <head>
    <title>Make an order</title>
  </head>
  <body>
    {% for item in items %}
      <a href="item/{{ item.id }}">{{ item.name }}</a>
      <p>{{ item.description }}</p>
      <p>{{ item.price }} {{ item.currency }}</p>
    {% endfor %}
    <button id="order-button">Order</button>
    <script src="https://js.stripe.com/v3/"></script>
    
    {% autoescape off %}
    <script type="text/javascript">
      var stripe = Stripe("pk_test_51L1qH0KIRwuqHMepaTn3cLYsw0oXg6Q4mNSrHIZJWDMYc0CenCp1s59vYGbGbQS20iH6VzZtJk912cetVqAiHcdZ00kBNWJnwb");
      var buyButton = document.getElementById("order-button");
      buyButton.addEventListener("click", function() {
        // Create a new Checkout Session using the server-side endpoint 
        // Redirect to Stripe Session Checkout
        fetch("{% url "items:buy_order" order.pk %}", {method: "GET"})
        .then(response => response.json())
        .then(session => stripe.redirectToCheckout({ sessionId: session.id }))
      });
    </script>
    {% endautoescape %}
  </body>
</html>
